{
  "presets": [
    "react",
    "es2015",
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spreated",
    "transform-export-extensions"
  ],
  "comments": false
}
